.ui-autocomplete {
    background-color: white;
    width: 300px;
    border: 1px solid #cfcfcf;
    list-style-type: none;
    padding-left: 0px;
}

.ui-autocomplete li:hover {
    background-color: #5555ff;
    cursor:pointer;
    color: white;
}
